apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: prowlarr-ingress
  namespace: services
  annotations:
    kubernetes.io/ingress.class: traefik-external
    gethomepage.dev/enabled: "true"
    gethomepage.dev/href: https://prowlarr.test.local.hohepa.dev
    gethomepage.dev/group: Servarr
    gethomepage.dev/name: Prowlarr
    gethomepage.dev/icon: prowlarr.png
    gethomepage.dev/app: prowlarr
spec:
  entryPoints:
    - websecure
  routes:
    - match: Host(`prowlarr.test.local.hohepa.dev`)
      kind: Rule
      services:
        - name: prowlarr
          port: 9696
  tls:
    secretName: test-local-hohepa-dev-tls
