apiVersion: v1
kind: Service
metadata:
  name: audiobookshelf
  namespace: services
spec:
  selector:
    app.kubernetes.io/name: audiobookshelf
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
