apiVersion: apps/v1
kind: Deployment
metadata:
  name: rundeck-mysql
  namespace: services
spec:
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app.kubernetes.io/name: rundeck-mysql
  template:
    metadata:
      labels:
        app.kubernetes.io/name: rundeck-mysql
    spec:
      containers:
      - image: mysql:5.7
        args:
        - "--ignore-db-dir=lost+found"
        name: rundeck-mysql
        env:
        - name: "MYSQL_ROOT_PASSWORD"
          valueFrom:
            secretKeyRef:
              name: rundeck-secrets
              key: mysql-password
        - name: "MYSQL_DATABASE"
          value: rundeckdb
        - name: "MYSQL_USER"
          value: rundeck
        - name: "MYSQL_PASSWORD"
          valueFrom:
            secretKeyRef:
              name: rundeck-secrets
              key: mysql-password
        ports:
        - containerPort: 3306
        volumeMounts:
        - name: rundeck-mysql-storage
          mountPath: /var/lib/mysql
      volumes:
      - name: rundeck-mysql-storage
        persistentVolumeClaim:
          claimName: rundeck-mysql-storage-claim
