apiVersion: apps/v1
kind: Deployment
metadata:
  name: rundeck
  namespace: services
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: rundeck
  template:
    metadata:
      labels:
        app.kubernetes.io/name: rundeck
    spec:
      containers:
      - name: rundeck
        image: rundeck/rundeck:5.11.1
        volumeMounts:
          - mountPath: /home/rundeck/etc/admin-role.aclpolicy
            name: acl
            subPath: admin-role.aclpolicy
        lifecycle:
          postStart:
            exec:
              command: 
                - "/bin/sh"
                - "-c"
                - "curl -Lo /home/rundeck/libext/http-step-1.1.6.jar https://github.com/rundeck-plugins/http-step/releases/download/1.1.6/http-step-1.1.6.jar ;"
        env:
        - name: RUNDECK_GRAILS_URL
          value: "https://rundeck.test.local.hohepa.dev"
        - name: RUNDECK_DATABASE_DRIVER
          value: "org.mariadb.jdbc.Driver"
        - name: RUNDECK_DATABASE_URL
          value: "jdbc:mysql://rundeck-mysql.services.svc.cluster.local:3306/rundeckdb?autoReconnect=true&useSSL=false"
        - name: RUNDECK_DATABASE_USERNAME
          value: "rundeck"
        - name: RUNDECK_DATABASE_PASSWORD
          valueFrom:
            secretKeyRef:
              name: rundeck-secrets
              key: mysql-password
        - name: RUNDECK_PLUGIN_EXECUTIONFILESTORAGE_NAME
          value: "com.rundeck.rundeckpro.amazon-s3"
        - name: RUNDECK_PLUGIN_EXECUTIONFILESTORAGE_S3_BUCKET
          value: "rundeck"
        - name: RUNDECK_PLUGIN_EXECUTIONFILESTORAGE_S3_REGION
          value: "us-east-2"
        - name: RUNDECK_PLUGIN_EXECUTIONFILESTORAGE_S3_ENDPOINT
          value: "http://rundeck-minio.services.svc.cluster.local:9000"
        - name: RUNDECK_PLUGIN_EXECUTIONFILESTORAGE_S3_PATHSTYLE
          value: "true"
        - name: AWS_ACCESS_KEY_ID
          valueFrom:
            secretKeyRef:
              name: rundeck-secrets
              key: minio-access-key
        - name: AWS_SECRET_KEY
          valueFrom:
            secretKeyRef:
              name: rundeck-secrets
              key: minio-secret-key
        - name: RUNDECK_PLUGIN_CLUSTER_HEARTBEAT_CONSIDERDEAD
          value: "120"
        - name: RUNDECK_PLUGIN_CLUSTER_AUTOTAKEOVER_SLEEP
          value: "10"
        - name: RUNDECK_STORAGE_CONVERTER_1_CONFIG_PASSWORD
          valueFrom:
            secretKeyRef:
              name: rundeck-secrets
              key: storage-converter-password
        - name: RUNDECK_CONFIG_STORAGE_CONVERTER_1_CONFIG_PASSWORD
          valueFrom:
            secretKeyRef:
              name: rundeck-secrets
              key: storage-converter-password
        - name: RUNDECK_PLUGIN_CLUSTER_REMOTEEXECUTION_ENABLED
          value: "false"
        ports:
        - containerPort: 4440
        livenessProbe:
          httpGet:
            path: /
            port: 4440
            scheme: HTTP
          initialDelaySeconds: 500
          periodSeconds: 120
        readinessProbe:
          httpGet:
            path: /
            port: 4440
            scheme: HTTP
          initialDelaySeconds: 10
          periodSeconds: 5
      volumes:
      - name: acl
        secret:
          secretName: rundeck-admin-acl
          items:
          - key: admin-role.aclpolicy
            path: admin-role.aclpolicy
