apiVersion: v1
kind: Service
metadata:
  name: calibre-web
  namespace: services
spec:
  selector:
    app.kubernetes.io/name: calibre-web
  ports:
    - protocol: TCP
      port: 8083
      targetPort: 8083
