apiVersion: apps/v1
kind: Deployment
metadata:
  name: price-buddy
  namespace: services
spec:
  selector:
    matchLabels:
      app: price-buddy
  replicas: 1
  progressDeadlineSeconds: 600
  revisionHistoryLimit: 2
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: price-buddy
    spec:
      containers:
        - name: price-buddy
          image: jez500/pricebuddy:v1.0.42
          env:
            - name: DB_HOST               # Name of the database service
              value: 127.0.0.1
            - name: DB_USERNAME           # Should match the MYSQL_USER in the database service
              value: pricebuddy
            - name: DB_PASSWORD           # Should match the MYSQL_PASSWORD in the database service
              value: pric3buddy
            - name: DB_DATABASE           # Should match the MYSQL_DATABASE in the database service
              value: pricebuddy
            - name: APP_TIMEZONE
              value: NZ
            - name: APP_USER_EMAIL        # Only used for seeding the database
              value: admin@example.com
            - name: APP_USER_PASSWORD     # Only used for seeding the database
              value: admin
            - name: SCRAPER_BASE_URL      # Url to Name of the scrapper service
              value: http://localhost:3000
            - name: AFFILIATE_ENABLED     # See https://pricebuddy.jez.me/support-project.html
              value: 'true'
            - name: APP_URL
              value: https://price-buddy.local.hohepa.dev
            - name: ASSET_URL
              value: https://price-buddy.local.hohepa.dev
          ports:
            - containerPort: 80
          volumeMounts:
            - mountPath: /app/storage
              name: price-buddy-storage
            - mountPath: /app/.env
              name: price-buddy-env
              subPath: .env
        - name: price-buddy-mysql
          image: mysql:8.2
          env:
            - name: MYSQL_DATABASE
              value: pricebuddy
            - name: MYSQL_USER
              value: pricebuddy
            - name: MYSQL_PASSWORD
              value: pric3buddy
            - name: MYSQL_ROOT_PASSWORD
              value: root
          ports:
            - containerPort: 3306
          volumeMounts:
            - mountPath: /var/lib/mysql
              name: price-buddy-database
        - name: price-buddy-scraper
          image: jez500/seleniumbase-scrapper:v1.0
          ports:
            - containerPort: 3000
      volumes:
      - name: price-buddy-storage
        persistentVolumeClaim:
          claimName:  price-buddy-storage-claim
      - name: price-buddy-env
        secret:
          secretName: price-buddy-env
          items:
          - key: .env
            path: .env
      - name: price-buddy-database
        persistentVolumeClaim:
          claimName:  price-buddy-database-claim
