apiVersion: apps/v1
kind: Deployment
metadata:
  name: readarr
  namespace: services
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: readarr
  template:
    metadata:
      labels:
        app.kubernetes.io/name: readarr
    spec:
      containers:
      - name: readarr
        image: linuxserver/readarr:amd64-0.4.18-develop
        ports:
        - containerPort: 8787
        env:
        - name: TZ
          value: NZ
        - name: PUID
          value: "114670"
        - name: PGID
          value: "104555"
        volumeMounts:
        - mountPath: /config
          name: readarr-config
        - mountPath: /media-library
          name: readarr-media-library-nfs
      volumes:
      - name: readarr-config
        persistentVolumeClaim:
          claimName:  readarr-config-claim
      - name: readarr-media-library-nfs
        nfs:
          server: 192.168.50.50
          path: /volume1/NAS/MediaLibrary
          readOnly: false
