apiVersion: apps/v1
kind: Deployment
metadata:
  name: radarr
  namespace: services
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: radarr
  template:
    metadata:
      labels:
        app.kubernetes.io/name: radarr
    spec:
      containers:
      - name: radarr
        image: linuxserver/radarr:6.0.4
        ports:
        - containerPort: 7878
        env:
        - name: TZ
          value: NZ
        - name: PUID
          value: "114670"
        - name: PGID
          value: "104555"
        - name: RADARR__POSTGRES__HOST
          value: radarr-db-rw
        - name: RADARR__POSTGRES__USER
          value: radarr # matches encoded secret in cluster.yaml
        - name: RADARR__POSTGRES__PASSWORD
          value: radarr # matches encoded secret in cluster.yaml
        volumeMounts:
        - mountPath: /config
          name: radarr-config
        - mountPath: /media-library
          name: radarr-media-library-nfs
      volumes:
      - name: radarr-config
        persistentVolumeClaim:
          claimName:  radarr-config-claim
      - name: radarr-media-library-nfs
        nfs:
          server: 192.168.50.50
          path: /volume1/NAS/MediaLibrary
          readOnly: false
